.homeContainer {
  display: grid;
  grid-template-rows: 200px auto;
}

.homeinnercontainer {
  margin-top: 200px;
}

.addbutton {
  margin: 10px 10% 10px 10%;
  font-family: var(--ft-primary);
  font-size: clamp(1.4rem, calc(12px + 1.6vw), 1.8rem);
  line-height: 1.1;
  background-color: var(--bg-primary);
  color: var(--bg-highlighter);
  padding: 9px 18px;
  border-style: solid;
  cursor: pointer;

  border-color: var(--bg-highlighter);
  border-radius: 20px;
}

.addbutton:hover {
  color: var(--bg-secondary);
  border-color: var(--bg-secondary);
}

.entriescontainer {
  display: grid;
  margin-left: 10%;
  grid-template-columns: repeat(auto-fit, 1fr);
}
