.errorPagediv {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.errorPagediv h1 {
  color: var(--bg-secondary);
  font-family: var(--ft-secondary);
  text-align: center;
}
.errorPagediv h4 {
  color: var(--bg-highlighter);
  font-family: var(--ft-secondary);
  text-align: center;
}
